# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg
project.lock.json

# App package artifacts
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

# Windows
Thumbs.db
Desktop.ini

# Rider / JetBrains
.idea/

# OS
.DS_Store
